<div  >
  <div class="container">
    <h1>Avaliação Informata</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">CPF</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of dados">
          <th scope="row">#</th>
          <td>{{a.id}}</td>
          <td>{{a.nome}}</td>
          <td>{{a.cpf}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
